---
layout: default
---

<p align="center">We are one of the Mozilla volunteer-run spaces around the world that help attract talent, strengthen community cohesion, become a major contribution funnels, and ultimately play a critical role in supporting Mozilla’s mission.</p>


<div class="home">

<h4>Latest Blogposts</h4>
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h4 class="h4 post-title">{{ post.title }}</h4>
          <p class="post-summary"><small>{{ post.summary }}</p></small>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>

<center>
<br> 
<a href="{{ site.baseurl }}/getinvolved"><img src="/images/mozilla.jpg" width="180" height="120"></a>
</center>




