---
layout: default
---

<p align="center">CoderDojo BLR is a volunteer run initiative. We teach web and app development to youth ages 7 to 21 supporting the global CoderDojo movement in different cities across India.</p>



<p>Supported By</p>

<p><a href="{{ site.baseurl }}/partners"><img scr="/images/me.jpeg" width="256" height="256"></a></p>
<p><a href="{{ site.baseurl }}/partners"><img scr="/images/collabhouse.png" width="256" height="256"></a></p>
<p><a href="{{ site.baseurl }}/partners"><img scr="/images/hive.jpeg" width="256" height="256"></a></p>







<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
